{{template "header.html"}}

{{template "menu.html" .CurrentUser}}

<div class="ui center aligned main container">

	<h3 class="ui header"><i class="home icon"></i> {{.User.Username}} Home</h3>

	<div class="ui horizontal divider"> Home </div>

	<div class="ui grid">
		<div class="four wide left aligned column">
			<h4 class="ui top attached header"><i class="users icon"></i> My groups</h4>
			<div class="ui attached segment">
				<div class="ui relaxed {{if .Groups}}animated{{end}} list">
					{{range .Groups}}
					<a class="item" href="/grouphome?Id={{.Id}}">
						<i class="users middle aligned icon"></i>
						<div class="content">
							<div class="header">{{.Name}}</div>
							<div class="description">{{.Description}}</div>
						</div>
					</a>
					{{else}}
					<div class="item">
						<div class="content">
							<div class="header">No groups</div>
							<div class="blue description">You don't currently belong to any groups <i class="frown icon"></i> But don't worry, maybe someone will invite you <i class="smile icon"></i></div>
						</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>

		<div class="eight wide column">
			<div class="ui tabular menu">
				<div class="active item" data-tab="feed">Feed</div>
				<div class="item" data-tab="files">Files</div>
			</div>
			<div class="ui active tab" data-tab="feed">
				<h4 class="ui header">TODO</h4>
			</div>
			<div class="ui tab" data-tab="files">

				<h4 class="ui top attached header"><i class="upload icon"></i> Uploads</h4>
				<div class="ui attached segment">
					<div class="ui grid">
						<div class="sixteen wide right aligned column">
							<div class="ui green labeled icon button js-modal-button" data-modal="#upload-modal">
								<i class="upload icon"></i> Upload
							</div>
						</div>
						<div class="sixteen wide column">
							<div class="js-widget upload-status-widget"></div>
						</div>
					</div>
				</div>

				<h4 class="ui top attached header"><i class="file icon"></i> Files</h4>
				<div class="ui attached segment">
					<table class="ui celled striped table">
						<thead>
							<tr>
								<th colspan="3">My Files</th>
							</tr>
						</thead>
						<tbody>
							{{range .Files}}
							<tr>
								<td class="collapsing">
									<i class="file alternate icon"></i> <a class="js-download-link" data-file="{{.Hash}}">{{.Filename}}</a>
								</td>
								<td>{{.Ctime | datetime}}</td>
								<td>{{.Size | filesize}}</td>
							</tr>
							{{end}}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="four wide left aligned column">
			<h4 class="ui top attached header"><i class="users icon"></i> Groups administered by me</h4>
			<div class="ui attached segment">
				<div class="ui relaxed {{if .AdminGroups}}animated{{end}} list">
					{{range .AdminGroups}}
					<a class="item" href="/group?Id={{.Id}}">
						<i class="users middle aligned icon"></i>
						<div class="content">
							<div class="header">{{.Name}}</div>
							<div class="description">{{.Description}}</div>
						</div>
					</a>
					{{else}}
					<div class="item">
						<div class="content">
							<div class="header">No groups</div>
							<div class="blue description">You don't currently administer any groups.</div>
						</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
	</div>
</div>

<div id="upload-modal" class="ui modal">
	<i class="close icon"></i>
	<div class="header">Upload File</div>
	<div class="content">
		<div class="ui segment">
			<form id="upload-form" class="ui form">
				<div class="field">
					<input type="file" style="display:none" name="File" multiple/>
					<div class="ui input">
						<div class="ui blue labeled icon button js-select-file">
							<i class="file icon"></i> Select Files
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="actions">
		<div class="ui cancel button">Cancel</div>
		<div class="ui ok blue labeled icon button">
			<i class="upload icon"></i> Upload
		</div>
	</div>
</div>

{{template "footer.html"}}
