{{template "header.html"}}

{{template "menu.html" .CurrentUser}}

<div class="ui center aligned main container">

	<h3 class="ui header"><i class="home icon"></i> {{.User.Username}} Home</h3>

	<div class="ui horizontal divider"> Home </div>

	<div class="ui grid">
		<div class="four wide left aligned column">
			<h4 class="ui top attached header"><i class="users icon"></i> My groups</h4>
			<div class="ui attached segment">
				<div class="ui relaxed {{if .Groups}}animated{{end}} list">
					{{range .Groups}}
					<a class="item" href="/grouphome?Id={{.Id}}">
						<i class="users middle aligned icon"></i>
						<div class="content">
							<div class="header">{{.Name}}</div>
							<div class="description">{{.Description}}</div>
						</div>
					</a>
					{{else}}
					<div class="item">
						<div class="content">
							<div class="header">No groups</div>
							<div class="blue description">You don't currently belong to any groups <i class="frown icon"></i> But don't worry, maybe someone will invite you <i class="smile icon"></i></div>
						</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<div class="eight wide column"></div>
		<div class="four wide left aligned column">
			<h4 class="ui top attached header"><i class="users icon"></i> Groups administered by me</h4>
			<div class="ui attached segment">
				<div class="ui relaxed {{if .AdminGroups}}animated{{end}} list">
					{{range .AdminGroups}}
					<a class="item" href="/group?Id={{.Id}}">
						<i class="users middle aligned icon"></i>
						<div class="content">
							<div class="header">{{.Name}}</div>
							<div class="description">{{.Description}}</div>
						</div>
					</a>
					{{else}}
					<div class="item">
						<div class="content">
							<div class="header">No groups</div>
							<div class="blue description">You don't currently administer any groups.</div>
						</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>
	</div>

</div>

{{template "footer.html"}}
