{{template "header.html"}}

{{template "plain-menu.html"}}

<div class="ui center aligned main container">

	{{if .Errors}}
	<div class="ui error message">
		<ul class="list">
			{{range .Errors}}
			<li>{{.}}</li>
			{{end}}
		</ul>
	</div>
	{{end}}

	<div class="ui left aligned container">
		<form id="login-form" class="ui form" method="post" action="{{.Action}}">
			<h3 class="ui dividing header"><i class="unlock icon"></i> Log in</h3>
			<div class="field">
				<label>Username</label>
				<input type="text" name="Username" placeholder="Username"/>
			</div>
			<div class="field">
				<label>Password</label>
				<input type="password" name="Password"/>
			</div>
			<button class="ui button" type="submit"><i class="unlock icon"></i> Log in</button>
			<div class="ui error message"></div>
		</form>
	</div>

</div>

{{template "footer.html"}}
