{{template "header.html"}}

{{template "menu.html" .CurrentUser}}

<div class="ui center aligned main container">

	<h3 class="ui header"><i class="users icon"></i> {{.Group.Name}}</h3>

	<div class="ui horizontal divider"> <i class="users icon"></i> </div>

	<div class="ui grid">

		<div class="four wide left aligned column">
			<h4 class="ui top attached header"><i class="user icon"></i> Members</h4>
			<div class="ui attached segment">
				<div class="ui relaxed selection list">
					{{range .Members}}
					<a class="item" href="mailto:{{.Email}}">
						<i class="envelope middle aligned icon"></i>
						<div class="content">
							<div class="header">{{.Username}}</div>
						</div>
					</a>
					{{else}}
					<div class="item">
						<div class="content">
							<div class="header">No members</div>
							<div class="blue description">There are currently no members in this group.</div>
						</div>
					</div>
					{{end}}
				</div>
			</div>
		</div>

		<div class="eight wide left aligned column">
			<div class="ui tabular menu">
				<div class="active item" data-tab="feed">Feed</div>
				<div class="item" data-tab="chat">Chat</div>
			</div>
			<div class="ui active tab" data-tab="feed">
				<div class="ui raised olive segment">
					<p>{{.Group.Description}}</p>
				</div>
			</div>
			<div class="ui tab" data-tab="chat">
				<div id="group-chat" class="ui comments js-widget group-chat-widget" data-group-id="{{.Group.Id}}">
					{{range .Messages}}
					<div class="comment" data-msg-id="{{.Id}}">
						<div class="content">
							<a class="author">{{.Username}}</a>
							<div class="metadata">
								<span class="date">{{.Ctime}}</span>
							</div>
							<div class="text">{{.Message}}</div>
						</div>
					</div>
					{{end}}
				</div>
				<form id="group-chat-message-form" class="ui reply form" data-widget="#group-chat" data-group-id="{{.Group.Id}}">
					<div class="field">
						<textarea rows="2" name="Message"></textarea>
					</div>
					<button type="submit" class="ui blue labeled submit icon button">
						<i class="icon edit"></i> Reply
					</button>
					<div class="ui error message"></div>
				</form>
			</div>
		</div>

		<div class="four wide left aligned column">
			<h4 class="ui top attached header"><i class="smile icon"></i> Benevolent Dictator for Life</h4>
			<div class="ui attached segment">
				<div class="content">
					<div class="header">{{.Admin.Username}}</div>
					<div class="description"><a href="mailto:{{.Admin.Email}}">{{.Admin.Email}}</a></div>
				</div>
			</div>
		</div>
	</div>
</div>

{{template "footer.html"}}
